@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 40.625em) {
  html {
    font-size: 35%;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top left, #753682, #bf2e34);
  color: #333;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

main {
  position: relative;
  overflow: hidden;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255,255,255,.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0,0,0,.25);
  border: 1px solid #fff;
  border-radius: 9px;
}
@media only screen and (max-width: 40.625em) {
  main {
    height: 100vh;
    background-color: transparent;
    border: none;
  }
}

/* ------ SECTIONS ------ */
/* .rules {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  padding: .5rem;
} */

.playfield {
  display: flex;
  position: relative;
  height: 100%;
}
@media only screen and (max-width: 40.625em) {
  .playfield {
    /* display: grid;
    grid-template-rows: minmax(min-content, 1fr) minmax(min-content, 1fr) min-content minmax(min-content, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
    justify-content: center;
    align-content: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
  }
}

/* ------ SECTION RULES ------ */
.btn--rules {
  padding: 1rem 3rem;
  margin-bottom: 1rem;
  background: none;
  border: none;
  border-radius: 10rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s;
}

.btn--rules:hover,
.btn--rules:active {
  color: #333;
}

.heading__rules {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.list li {
  margin-left: 3rem;
  font-size: 1.8rem;
}

/* ------ POPUP ------ */
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 50%;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 3rem 5rem rgba(0,0,0,.3);
  border-radius: 9px;
}
@media only screen and (max-width: 40.625em) {
  .popup {
    width: 80%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0,0,0,.6);
  backdrop-filter: blur(3px);
}

.btn--close{
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

/* ------ SECTION PLAYFIELD ------ */
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 4rem;
  transition: all 0.75s;
}
@media only screen and (max-width: 40.625em) {
  .player {
    padding: 2rem;
  }
}
@media only screen and (max-width: 40.625em) {
  .player {
    border: 1px solid #fff;
    border-radius: 9px;
  }
}

@media only screen and (max-width: 40.625em) {
  .player--0 {
    /* grid-area: 1 / 1 / 2 / -1; */
  }
}
@media only screen and (max-width: 40.625em) {
  .player--1 {
    /* grid-area: 2 / 1 / 3 / -1; */
  }
}

.name {
  /* position: relative; */
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.score {
  margin-bottom: auto;
  color: #c7365f;
  font-size: 8rem;
  font-weight: 300;
}

.current {
  width: 65%;
  padding: 2rem;
  color: #fff;
  background-color: #c7365f;
  border-radius: 9px;
  text-align: center;
  transition: all 0.75s;
  opacity: 0.8;
}

.current__label {
  margin-bottom: 1rem;
  color: #ddd;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.current__score {
  font-size: 3.5rem;
}

/* ------ ACTIVE PLAYER FIELDS ------ */
.player--active {
  background-color: rgba(255,255,255,.4);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

/* ------ WINNER PLAYER FIELDS ------ */
.player--winner {
  background-color: #6fa6f9;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

/* ------ BUTTONS ------ */
.dice {
  position: absolute;
  top: 18rem;
  left: 50%;
  transform: translateX(-50%);
  width: 12rem;
  box-shadow: 0 2rem 5rem rgba(0,0,0,.2);
}
@media only screen and (max-width: 40.625em) {
  .dice {
    /* grid-area: 3 / 1 / 4 / -1; */
    position: static;
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 8rem;
  }
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.7rem 2.5rem;
  background: none;
  background-color: rgba(255,255,255,.6);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0,0,0,.1);
  color: #444;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}
@media only screen and (max-width: 40.625em) {
  .btn {
    /* align-self: start; */
    position: static;
    left: 0;
    transform: translateX(0);
    /* padding: 0.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 600; */
  }
}

.btn::first-letter {
  display: inline-block;
  margin-right: 0.7rem;
  font-size: 2.4rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.15);
}
@media only screen and (max-width: 40.625em) {
  .btn:active {
    transform: translate(0, 3px);
  }
}

.btn:focus {
  outline: none;
}

.btn--new {
  top: 4rem;
}
@media only screen and (max-width: 40.625em) {
  .btn--new {
   top: 0;
  }
}

.btn--roll {
  top: 44rem;
}
@media only screen and (max-width: 40.625em) {
  .btn--roll {
   top: 0;
  }
}

.btn--hold {
  top: 50rem;
}
@media only screen and (max-width: 40.625em) {
  .btn--hold {
   top: 0;
  }
}

.hidden {
  display: none;
}